grafana:
  enabled: true

  admin:
    existingSecret: grafana
    userKey: admin-user
    passwordKey: admin-password

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  persistence:
    enabled: false

  ingress:
    enabled: true
    ingressClassName: tailscale
    defaultBackend:
      service:
        name: kube-prometheus-stack-grafana
        port:
          number: 80
