apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-adlists
  namespace: pihole
data:
  adlists.txt: |-
    https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/pro.plus.txt
    https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif.txt
