apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - ../../base/hashicorp-vault
  - namespace.yaml
  - ingress.yaml

patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: hashicorp-vault
      namespace: apps
    path: patches/patch-tls-values.yaml
