apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-values
  namespace: apps
data:
  values.yaml: |
    global:
      tlsDisable: false

    injector:
      enabled: false

    server:
      ui: true
      extraEnvironmentVars:
        VAULT_CACERT: /vault/userconfig/vault-server-tls/vault.ca

      volumes:
        - name: userconfig-vault-server-tls
          secret:
            secretName: vault-server-tls    # your cert-manager Secret

      volumeMounts:
        - name: userconfig-vault-server-tls
          mountPath: /vault/userconfig/vault-server-tls
          readOnly: true

      standalone:
        enabled: true
        config: |-
          ui = true
          listener "tcp" {
            address            = "0.0.0.0:8200"
            cluster_address    = "0.0.0.0:8201"
            tls_disable        = 0
            tls_cert_file      = "/vault/userconfig/vault-server-tls/vault.crt"
            tls_key_file       = "/vault/userconfig/vault-server-tls/vault.key"
            tls_client_ca_file = "/vault/userconfig/vault-server-tls/vault.ca"
          }
          storage "raft" {
            path = "/vault/data"
          }
